/*
    Styles Guide:
    0. RESET
    1. LAYOUT
    2. GENERIC ITEM
    3. PARTS OF THE WEB
    4. LIST
    5. FORM 
    6. ANIMATIONS
 ----------------------------
    COLORS
    color 1 => #418DFF
    color 2 => #EB0042
    color 3 => #FF9A08
    color 4 => #95EB00
*/

/* 0 RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 1 LAYOUT */

body
{
    text-align: center;
    font: 300 20px/1.7 ;
    font-family: 'Roboto Condensed', sans-serif;
}
    .header 
    {
        background-color: darkred;
    }
/* 2 GENERIC ITEM*/
    .header 
    {}
/* 3 PARTS OF THE WEB*/

/* 4 LIST */

/* 5 FORM */

/* 6 ANIMATONS */