/*
    Styles Guide:
    0. RESET
    1. LAYOUT
    2. GENERIC ITEM
    3. PARTS OF THE WEB
    4. LIST
    5. FORM 
    6. ANIMATIONS
 ----------------------------
    COLORS
    color 1 => #418DFF
    color 2 => #EB0042
    color 3 => #FF9A08
    color 4 => #95EB00
*/

/* 0 RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
    {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section 
    {
	    display: block;
    }
body 
    {
    	line-height: 1;
    }
ol, ul 
    {
	list-style: none;
    }
blockquote, q 
    {
    	quotes: none;
    }
blockquote:before, blockquote:after,
q:before, q:after  
    {
    	content: '';
    	content: none;
    }
table 
    {
    	border-collapse: collapse;
    	border-spacing: 0;
    }

/* 1 LAYOUT */

body
    {
    text-align: center;
    font: 300 20px/1.7 ;
    font-family: 'Roboto Condensed', sans-serif;
    }
    /*Header*/
    .header 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*Navigation Bar*/
    .navbar 
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*Servicios*/
    .contacto
        {
            text-align: left;
        }
    .list-services
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        /*
        .list-services figure 
        {

        }
        */

/* 2 GENERIC ITEM*/
    /*Item Header*/
    .header 
    {
        background: url(../images/dummy-header.jpg) no-repeat center top;
        background-size: cover;
        height: 450px;
    }
    /*Item Navigation*/
    .navbar 
    {
        height: 60px;
        background-color: #418DFF;
    }
        .navbar a 
        {
            color: #fff;
            padding: 0 20px;
            text-decoration: none;
            text-transform: uppercase;
            font: 20px 'Stint Ultra Condensed';
        }
    .title 
        {
            margin-bottom: 40px;
            font: 60px 'Stint Ultra Condensed';
            text-transform: uppercase;

        }
    p {margin-bottom: 40px;}
    /*Boton Contacto*/
    .btn 
        {
            border: 2px solid #fff;
            padding: 10px 40px;
            display: inline-block;
            text-decoration: none;
            color: #fff;
        }
    
/* 3 PARTS OF THE WEB*/
    /*Clase content para el landing page*/
    .content 
    {
        padding: 80px 0;
    } 
    /*Quien Soy*/
    .who 
    {
        background: #418DFF;
        color: #fff;    
    }
        .who p
        {
            max-width: 1055px;
            margin: auto;
        }
    /*Servicios*/
    .services 
        {
            background: #EB0042;
            color: #fff;
        }
        
    .contacto
        {
            background: url(../images/dummy-contacto.jpg) no-repeat center top;
            background-size: cover;
            color: #fff;
        }
        .contain
            {
                max-width: 1055px;
                margin: 0 auto;
            }
            .contain p
                {
                    max-width: 450px;
                }
/* 4 LIST */

/* 5 FORM */

/* 6 ANIMATONS */